.outer-container {
  width: 232px;
  max-height: 253px;
  background: #02a8f4;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 2px;
}

.outer-container:hover {
  background: #375acd;
  border: 3px solid white;
}

.outer-container-selected {
  border: 3px solid white;
}
.outer-container-selected:hover {
  background: #02a8f4;
  border: 3px solid white;
}

.header {
  border-bottom: 2px solid white;
  height: 25%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px 0px 8px 0px;
}

.header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-label {
  font-weight: 700;
  font-size: 12px;
}

.header-value {
  color: white;
  font-weight: 700;
}

.number-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 8px;
  justify-items: center;
  padding: 12px;
}

.number {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  background: white;
  font-weight: 600;
  padding: 5px;
}
