.AppHeader {
  font-size: 100px;
  color: white;
  font-style: italic;
  font-weight: 650;
}

.Content {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  margin: 30px;
}
