.app {
  margin: 30px;
}

.app-header {
  font-size: 100px;
  color: white;
  font-style: italic;
  font-weight: 650;
}

.content {
  display: grid;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  row-gap: 30px;
}

.content-columns {
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1260px) {
  .content-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .content-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .content-columns {
    grid-template-columns: 1fr;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 5rem !important;
  height: 5rem !important;
  border-width: 10px !important;
}

.message {
  font-size: 20px;
  color: white;
}
