.AppHeader {
  font-size: 100px;
  color: white;
  font-style: italic;
  font-weight: 650;
}

.Content {
  display: grid;
  justify-content: center;

  row-gap: 30px;
  margin: 30px;
}

.ContentColumns {
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1260px) {
  .ContentColumns {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .ContentColumns {
    grid-template-columns: repeat(2, 1fr);
  }
}

.SpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Spinner {
  width: 5rem !important;
  height: 5rem !important;
  border-width: 10px !important;
}
